{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div ng-app='sharehits'>
	<div layout="column" >
		<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>
		          <span>Sharehits</span>
		        </h2>
		        <span flex></span>
					{% if user.is_authenticated %}
					<p>{{ user.first_name }}</p>
		        	<img src="{{user.profile.photo}}">
					<a href="{% url 'auth_logout' %}">Logout</a>
					{% endif %}
		      </div>
			</md-toolbar>
	</div>

	<div ui-view>

	</div>
</div>
{% endblock %}
