<md-content class="md-padding contenedor-salas">

    <md-button ng-click='logOut()'  class="md-raised md-warn btn-create-room">Crear sala</md-button>
   <!-- <md-button ng-click='logOut()' >crear sala</md-button> -->
    <md-tabs md-dynamic-height md-border-bottom class="contenedor-tabs">
      <md-tab label="Salas publicas">
        <md-content class="md-padding">

            <md-input-container flex class="cont-input-search">
              <label>Nombre de sala o genero</label>
              <input ng-model="nameRoom">
            </md-input-container>

           <!--<div layout="row" layout-align="center center">-->
             <md-list class="list-salas">
                <md-list-item
                     ng-repeat="sala in salas track by sala.id"
                     class="item-sala md-raised"
                     ng-style="{'background-image':'url('+sala.img+')'}">
                   <md-button  ui-sref="sala({salaId:sala.id})" class="md-list-item-text md-button md-default-theme">
                     <h2>{{ sala.nombre }}</h2>

                        <div ng-repeat="tag in sala.tags">
                           <p>{{tag}}</p>
                        </div>
                   </md-button>
                   <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
             </md-list>
           <!--</div>-->
        </md-content>
      </md-tab>

      <md-tab label="Mis salas">
        <md-content class="md-padding">
          <p >Mis salas</p>
          <button > wat</button>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
