<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Salas publicas">
        <md-content class="md-padding">
           <!--<div layout="row" layout-align="center center">-->
             <md-list class="list-salas">
                <md-list-item ng-repeat="sala in salas track by sala.id" class="item-sala md-raised">
                   <md-button  ui-sref="sala({salaId:sala.id})" class="md-list-item-text md-button md-default-theme"
                           ng-style="{'background-image':'url('+sala.img+')'}">
                     <h2>{{ sala.nombre }}</h2>

                        <div ng-repeat="tag in sala.tags">
                           <p>{{tag}}</p>
                        </div>
                   </md-button>
                   <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
             </md-list>
           <!--</div>-->
        </md-content>
      </md-tab>

      <md-tab label="Mis salas">
        <md-content class="md-padding">
          <p>Mis salas</p>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
