.background-room {opacity: 0.5;}

.cont-input-search label {color: #fff}

.box-room-general .box-head {text-shadow: 1px 1px 2px #999;}

.row-room-shareHist .reproduct-music {padding-top: 0px}

.over-list {background-color:#EBEBEB;}

.cont-songs .song {cursor: pointer}
.cont-songs .song.song-playing {color: #FF6C00}
.cont-songs .song:hover {color: #fff}

