


.dashboard-image {
   border-radius: 10%;
   height: auto;
   width: auto;
   max-width: 50px;
   max-height: 50px;
   cursor: pointer;
}

.nav ul{
   list-style: none;
   text-align: center;
   padding: 0;
   margin: 1px;
}

.nav li {
  font-size: 1.2em;
  line-height: 40px;
}
.new{
  border: none;
}
.list-salas{
  overflow: hidden;
}

.header-login{
  .md-toolbar-tools{
    height: 80px;
    li{
       padding-top: 10px;
      .name-user{
        display: inline-block;
        margin: 6px 0 0 0;
        vertical-align: top;
        font-size: 20px;
      }
    }

    .dashboard-image{
      border-radius: 50%;
    }
  }
}
.item-sala{
  width: 49%;
  float: left;
  margin: 3px;
  background-size: cover;
  background-position: center;
  height: 271px;
  a{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    h2{
      margin-top: 5px;
      text-align: left;
      font-size: 28px;
      padding-left: 20px;
    }
  }
  .cont-text-sala{
    padding: 10px;
    background: rgba(132, 132, 132, 0.13);
    height: 100%;
//    position: relative;
    .cont-tags-rooms{
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 10px;
      left: 10px;
      right: 0;
      overflow: hidden;
      .md-raised{
        background-color: rgba(255, 108, 64, 0.6);
        color:white;
        float: left;
      }
    }
  }
}
.tag-responsive-room{
    position: absolute;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    overflow: visible;
    color: white;
    padding: 7px;
    border-left: 2px solid white;
    display: none;
    cursor: pointer;
    -webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;
    &:focus{
      outline: none;
    }
    &.tag-member{
      left: -28px;
      top: 27px;
      background: rgba(63, 81, 181, 1);
      &:hover,&.fadeInOut{
        background: rgba(63, 81, 181, 0.5);
      }
    }
    &.tag-music-player{
      left: -36px;
      top: 123px;
      background: rgba(255, 57, 0, 1);
      &:hover,&.fadeInOut{
        background: rgba(255, 57, 0, 0.5);
      }
    }
    &.tag-playlist{
      left: -18px;
      top: 209px;
      background: rgba(181, 63, 63, 1);
      &:hover,&.fadeInOut{
        background: rgba(181, 63, 63, 0.5);
      }
    }
 }
body{
  background: none;
}
.background-images{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-size: auto;
  background-position: center;
  background-color: #000000;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 2s;-moz-transition: all 2s;-ms-transition: all 2s;-o-transition: all 2s;transition: all 2s;
  &.bimg1{
    background-image: url(../img/login1.jpg);
  }
  &.bimg2{
    background-image: url(../img/login4.jpg);
  }
  &.bimg3{
    background-image: url(../img/login3.jpg);
  }
}
.opacityLogin{
  opacity: 1;
}
.box-login{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 20px;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
  h1{
    margin: 0;

  }
  img{
    border-radius: 50%;
    margin: 15px 0;
  }
  .btn-login{
      border-radius: 0;
      padding: 2px 10px;
      margin: 0px;
  }
}
.contenedor-login{
  position: relative;
  height: 100%;
}
.contenedor-salas{
//  text-align: right;
}
.cont-input-search{
  text-align: left;
}
.btn-create-room{
  position: absolute;
  right: 30px;
  top: 21px;
  z-index: 5;
  margin-top: -5px;
}
.contenedor-tabs{
  md-tabs-wrapper{
    display: inline-block;
  }
}


.cont-rows-shareHist{
  text-align: center;
}
.name-room{
  text-align: center;
  font-size: 35px;
  text-shadow: 0px 1px 3px rgba(81, 81, 81, 0.84);
  text-transform: uppercase;
}
.row-room-shareHist{
  width: 350px;
  height: 400px;
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
  text-align: left;
  h2{
    text-align: center;
    margin-bottom: 0px;
  }
  .reproduct-music{
    height: 144px;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &.row-room-shareHist-reproduct-playlist{
    margin-right: 0px;
  }
}
.box-room-general{
//   background: rgba(5, 5, 5, 0.24);
    background: white;
    .over-list{
      overflow-y: auto;
    }
}
.background-room{
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 0.13;
  &.background-room-top{
      background-color: rgba(0, 0, 0, 0.41);

  }
}
.cont-btn-logout{
  .btn-logout{
    vertical-align: top;
    background-color: rgb(63,81,181);
    color: white;
  }
}
.list-member{
  overflow: hidden;
  h4{
    margin-bottom: 0;
    padding-left: 10px;
  }
  .over-list{
      height: 360px;
      background: none;
      md-list md-list-item.md-3-line .md-list-item-text h4{
        color: white;
        text-shadow: 1px 1px 2px #999;
      }
  }
}
.cont-playlist{
  overflow: hidden;
  h4{
    margin-bottom: 0px;
    padding-left: 10px;
  }
  .over-list{
    overflow-y: auto;
    height: 250px;
  }
}
.content-chat{
  width: 450px;
  height: 531px;
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  z-index: 2;
  .content-list-message{
    height: 450px;
    overflow-y: auto;
    -webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;
  }
  .cont-input-message{
      position: absolute;
      bottom: 0;
      width: 88%;
      padding-left: 10px;
      padding-bottom: 10px;
  }
}
.md-open-menu-container.md-active{
  margin-top: 28px;
}
.box-room-general .box-head{
  color: white;
  padding-bottom: 5px;
}
@media (max-width: 1290px) {
    .box-room-general{
      &.list-member{
        position: absolute;
        background: rgba(255, 255, 255, 1);
//        z-index: 3;
        margin-left: 29px;
        opacity: 0;
        -webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;
        &.fadeInOut{
          opacity: 1;
          z-index: 3;
        }
      }
      &.content-chat{
        padding-left: 30px;
      }
    }
    .tag-member{
      display: inline-block;
    }
}
@media (max-width: 1000px) {
    .item-sala{
       width: 91%;
      display: block;
      margin: 10px auto;
      float: none;
    }

    .tag-music-player{
      display: inline-block;
    }
    .tag-playlist{
      display: inline-block;
    }

    &.list-member{
        position: absolute;
        background: rgba(255, 255, 255, 1);
        margin-left: 29px;
        opacity: 0;
        -webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;
        &.fadeInOut{
          opacity: 1;
          z-index: 3;
        }
    }
    .row-room-shareHist.row-room-shareHist-reproduct-playlist{
//      position: absolute;
      z-index: 1;
//      width: 0px;
      &.fadeInOut{
        z-index: 3;
      }
      .reproduct-music,.cont-playlist{
//        position: absolute;
//        left: -449px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        -webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;
        &.fadeInOut{
          opacity: 1;
          z-index: 3;
        }
      }
    }
    .box-room-general.content-chat {
      margin-right: 0px;
    }
//    .contenedor-salas{
//      overflow-x: hidden;
//    }
}
@media (max-width: 650px) {
    .item-sala{
      width: 100%;
      a{
       h2{
         text-align: center;
         padding-left: 0;
         font-size: 25px;
       }
      }
    }
}
@media (max-width: 500px) {
    .item-sala{
      a{
       h2{
         font-size: 20px;
       }
      }
    }
    .box-login{
      width: 100%;
    }
}