{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="roomApp">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'public/lib/components-font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/lib/angular-material/angular-material.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/css/main.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/lib/bootstrap/dist/css/bootstrap.css' %}">

      <title>ShareHits</title>
   </head>
   <body ng-controller="roomController">
      <div layout="column" layout-fill>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span>ShareHits</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button>
              {% if user.is_authenticated %}
                  <p class="name-user">{{ user.first_name }}
               {% endif %}
            </md-button>
          </div>
        </md-toolbar>
        <md-content>
            <div class="background-room" style="background-image:url('{{object.image}}')"></div>
            <div class="background-room background-room-top" ></div>
            <!--<div ng-repeat="tag in sala.tags">
               <p>{{tag}}</p>
            </div>-->
            <md-input-container flex class="cont-input-search">
                <label>Buscar canción o autor</label>
                <input ng-model="nameSingleAuthor">
            </md-input-container>
            <h1 class="name-room">{{ sala.name }}</h1>
            <div class="cont-rows-shareHist">
                <md-content class="row-room-shareHist box-room-general list-member md-whiteframe-z3">
                    <h4>Miembros</h4>
                    <div class="over-list">
                        <md-list layout-padding>
                            <md-list-item class="md-3-line" ng-repeat="member in listMembersChat">
                                <img ng-src="{{ member.face }}" class="md-avatar" alt="{{ member.name }}">
                                <div class="md-list-item-text">
                                    <h4>{{ member.name }}</h4>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>

                <md-content class="row-room-shareHist box-room-general content-chat md-whiteframe-z3">
                    <md-list class="content-list-message" layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="message in messages">
                            <img ng-src="{{ message.face }}" class="md-avatar" alt="{{ message.who }}">

                            <div class="md-list-item-text">
                                <h3>{{ message.what }}</h3>
                                <h4>{{ message.who }}</h4>
                                <p>
                                    {{ message.notes }}
                                </p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-input-container class="cont-input-message" flex>
                        <label>Mensaje...</label>
                        <input ng-model="user.address">
                    </md-input-container>
                </md-content>

                <div class="row-room-shareHist row-room-shareHist-reproduct-playlist">
                    <md-content class="reproduct-music box-room-general md-whiteframe-z3">
                        reproductor de musica
                    </md-content>

                    <md-content class="cont-playlist box-room-general md-whiteframe-z3">
                        <h4>Playlist</h4>
                        <div class="over-list">
                            <md-list layout-padding>
                                <md-list-item class="md-3-line" ng-repeat="song in songs">
                                    <div class="md-list-item-text">
                                        <h4>{{ song.songName }} - {{ song.songAuthor }}</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>
                </div>

            </div>
        </md-content>
      </div>
    



      <!-- LIBS -->
      <script src="{% static 'public/lib/angular/angular.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-messages/angular-messages.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-animate/angular-animate.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-aria/angular-aria.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-material/angular-material.min.js' %}"></script>
      <!-- App -->
      <!--<script src="{% static 'public/js/common/services/util.js' %}"></script>
      <script src="{% static 'public/js/common/services/user.js' %}"></script>
      <script src="{% static 'public/js/common/services/sala.js' %}"></script>
      <script src="{% static 'public/js/components/sala/sala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/crearsala/crearsala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/dashboard.js' %}"></script>
      <script src="{% static 'public/js/sharehits.js' %}"></script>-->
      <script src="{% static 'public/lib/jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'public/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript">
         var app = angular.module("roomApp", [
              "ngMaterial",
          ])
         .config(function($interpolateProvider){
                $interpolateProvider.startSymbol('[[').endSymbol(']]');
         });
         app.constant('user', {
             username: "{{ user.username }}",
         });
      </script>
      <script src="{% static 'public/js/room.js' %}"></script>
   </body>

</html>
