{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="roomApp">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'public/lib/components-font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/lib/angular-material/angular-material.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/css/main.min.css' %}">
       <link rel="stylesheet" href="{% static 'public/css/changes.css' %}">
      <link rel="stylesheet" href="{% static 'public/lib/bootstrap/dist/css/bootstrap.css' %}">

      <title>ShareHits</title>
   </head>
   <body ng-controller="roomController">
      <div layout="column" class="header-login">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <a ui-sref="dashboard"><span>Sharehits</span></a>
                </h2>
                <span flex></span>
                <div class="nav">
                    <ul>
                        <li>
                            {% if user.is_authenticated %}
                                <p class="name-user">{{ user.first_name }}</p>
                                <md-menu class="cont-btn-logout" md-offset="0 30">
                                    <img src="{{ user.profile.photo }}" class="dashboard-image" ng-click="$mdOpenMenu()">
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button href="{% url 'auth_logout' %}">
                                                <md-icon md-menu-align-target md-font-icon="fa fa-power-off">
                                                    Logout
                                                </md-icon>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </md-toolbar>
        <div>
            <div class="background-room" style="background-image:url('{{object.image}}')"></div>
            <div class="background-room background-room-top" ></div>
            <!--<div ng-repeat="tag in sala.tags">
               <p>{{tag}}</p>
            </div>-->
            <md-input-container flex class="cont-input-search">
                <label>Buscar canción o autor</label>
                <input ng-model="nameSingleAuthor" id="input-search-song">
            </md-input-container>
            <h1 class="name-room">{{ room.name }}</h1>

            <div class="cont-rows-shareHist">
                <md-content class="row-room-shareHist box-room-general list-member md-whiteframe-z3"
                    ng-class="{'fadeInOut':toggleBox[0]}">
                    <h4 class="box-head">Miembros conectados</h4>
                    <div class="over-list">
                        <md-list layout-padding>
                            <md-list-item class="md-3-line" ng-repeat="member in members">
                                <img ng-src="[[member.photoUrl]]" class="md-avatar" alt="[[member.username ]]">
                                <div class="md-list-item-text">
                                    <h4>[[member.username ]]</h4>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
                
                <!-- MENSAJES -->

                <md-content class="row-room-shareHist box-room-general content-chat md-whiteframe-z3">
                    <div class="tag-responsive-room tag-member" ng-click="toggleBoxFunc(0)"
                         ng-class="{'fadeInOut':toggleBox[0]}"  >Miembros</div>
                    <div class="tag-responsive-room tag-music-player" ng-click="toggleBoxFunc(1)"
                         ng-class="{'fadeInOut':toggleBox[1]}"  >Reproductor</div>
                    <div class="tag-responsive-room tag-playlist" ng-click="toggleBoxFunc(2)"
                         ng-class="{'fadeInOut':toggleBox[2]}"  >Playlist</div>

                    <md-list class="content-list-message" layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="message in messages">
                            <img ng-src="[[message.photoUrl]] " class="md-avatar" alt="{{ message.who }}">

                            <div class="md-list-item-text">
                                <h4>[[message.username]]</h4>
                                <p>[[message.mensaje]]</p>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-input-container class="cont-input-message" flex>
                        <label>Mensaje...</label>
                        <input ng-model="newMensaje">
                    </md-input-container>
                    <md-button ng-click="enviarMensaje(newMensaje)">+</md-button>
                      
                    
                </md-content>
                <!-- MENSAJES -->

                <div class="row-room-shareHist row-room-shareHist-reproduct-playlist"
                     ng-class="{'fadeInOut':toggleBox[1] || toggleBox[2]}">

                    <md-content class="reproduct-music box-room-general md-whiteframe-z3"
                                ng-class="{'fadeInOut':toggleBox[1]}">
                        <iframe id="sc-player" width="100%" height="144" scrolling="no" frameborder="no">
                        </iframe>
                    </md-content>

                    <md-content class="cont-playlist box-room-general md-whiteframe-z3"
                                ng-class="{'fadeInOut':toggleBox[2]}">
                        <h4>Playlist</h4>
                        <div class="over-list">
                            <md-list class="cont-songs" layout-padding>
                                <!--<md-list-item class="md-3-line" ng-repeat="song in songs">
                                    <div class="md-list-item-text">
                                        <h4>{{ song.title }} - {{ song.url }}</h4>
                                    </div>
                                </md-list-item>-->
                            </md-list>
                        </div>
                    </md-content>
                    <!--<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
                      <b>USERS</b>
                      <div id="users"></div>
                    </div>-->
                </div>
                <!--<div class="row-room-shareHist row-room-shareHist-reproduct-playlist">
                    <md-content class="reproduct-music box-room-general md-whiteframe-z3">
                        <iframe id="sc-player" width="100%" height="145" scrolling="no" frameborder="no"></iframe>
                    </md-content>

                    <md-content class="cont-playlist box-room-general md-whiteframe-z3">
                        <h4 class="box-head">Playlist</h4>
                        <div class="over-list">
                            <md-list layout-padding class="cont-songs">
                                <md-list-item class="md-3-line" ng-repeat="song in songs">
                                    <div class="md-list-item-text">
                                        <h4>{{ song.title }} - {{ song.url }}</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>
                    <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
                      <b>USERS</b>
                      <div id="users"></div>
                    </div>
                </div>-->
            </div>
        </div>
      </div>
     
       <div class="modal fade" id="modal-search-song" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                       <h4 class="modal-title" id="myModalLabel">Resultado de la busqueda</h4>
                   </div>
                   <div class="modal-body">
                       <div class="list-group">
                       </div>
                   </div>
               </div>
           </div>
       </div>


      <!-- LIBS -->
      <script src="{% static 'public/lib/socket.io-client/socket.io.js' %}"></script>
      <!-- souncloud api-->
      <script src="http://connect.soundcloud.com/sdk-2.0.0.js"></script>
      <script src="https://w.soundcloud.com/player/api.js"></script>
      
      <!-- App -->
      <script src="{% static 'public/lib/angular/angular.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-messages/angular-messages.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-animate/angular-animate.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-aria/angular-aria.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-material/angular-material.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-socket-io/socket.min.js' %}"></script>



      <!--<script src="{% static 'public/js/common/services/util.js' %}"></script>
      <script src="{% static 'public/js/common/services/user.js' %}"></script>
      <script src="{% static 'public/js/common/services/sala.js' %}"></script>
      <script src="{% static 'public/js/components/sala/sala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/crearsala/crearsala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/dashboard.js' %}"></script>
      <script src="{% static 'public/js/sharehits.js' %}"></script>-->
      <script src="{% static 'public/lib/jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'public/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript">
         var app = angular.module("roomApp", 
            [
              "ngMaterial",
              'btford.socket-io'
            ]);

            app.config(function($interpolateProvider){
              $interpolateProvider.startSymbol('[[').endSymbol(']]');
            });

            app.constant('User', {
                username: "{{ user.username }}",
                photoUrl :"{{ user.profile.photo }}",
                idUser : "{{user.id}}"
            });

            app.constant('ROOM_ID', '{{room.id}}');

      </script>
      <script src="{% static 'public/js/room.js' %}"></script>
      <script>
           var roomId = "{{room.id}}";
           
           var iframe = document.querySelector('#sc-player');
           var iframeSrcPrefix = "https://w.soundcloud.com/player/?url=";
           var iframeOPtions = "&auto_play=true&hide_related=true&visual=true&download=false&buying=false&sharing=false&liking=false&show_comments=false";
           
           var Widget;
           var options = {auto_play: true, hide_related: true, visual: true, download: false, buying: false, sharing: false, liking: false, show_comments:false};
           
           var songs = [];
           var currentSongIndex = 0;
           
           $.ajax({
               method: "GET",
               url: "/api/songs/room/"+roomId+"/?format=json"
           }).done(function(data) {
               if (data.length == 0){
//                   $(".reproduct-music").html("<b>Sin canciones aun!</b>");
               }else{
                   songs = data;
                   var firstSongUrl = data[0].url;
                   iframe.src = iframeSrcPrefix + firstSongUrl + iframeOPtions;
                   currentSongIndex = 0;
                   
                   Widget = SC.Widget(iframe);

                   Widget.bind(SC.Widget.Events.FINISH, widgetFinishEventListener);
//                   $(".cookiePolicy").remove();

                   
                   
                   for (var i=0; i<data.length; i++){
                       var playingClass = (i == 0)? "song-playing": "";
                       
                       $(".cont-songs").append(''+
                            '<md-list-item class="md-3-line" >'+
                                '<div class="md-list-item-text">'+
                                    '<h4 class="song '+playingClass+'" song-url="'+data[i].url+'" song-index="'+i+'" >'+data[i].title+'</h4>'+
                                '</div>'+
                            '</md-list-item>');
                   }                   
               }
           });
           
           /* Carga la song clickeada en el iframe */
           $(document).on('click', '.song',function (){
               console.log("song clicked!");
               var url = $(this).attr("song-url");
               Widget.load(url, options);
               
               $('.song[song-index="'+currentSongIndex+'"]').removeClass("song-playing");
               
               var index = Number($(this).attr("song-index"));
               currentSongIndex = index;
               
               $('.song[song-index="'+currentSongIndex+'"]').addClass("song-playing");
           });
           
           /* Cargar la siguiente song en el iframe */
           function widgetFinishEventListener(e) {
               console.log("song finished!");
               $('.song[song-index="'+currentSongIndex+'"]').removeClass("song-playing");
               
               currentSongIndex = (currentSongIndex == songs.length - 1)? 0 : currentSongIndex+1;
               Widget.load(songs[currentSongIndex].url, options);
               
               $('.song[song-index="'+currentSongIndex+'"]').addClass("song-playing");
           }
           
           /* Polling de songs del room */
           setInterval(function(){
               $.ajax({
                   method: "GET",
                   url: "/api/songs/room/"+roomId+"/?format=json"
               }).done(function(data) {
                   if (data.length == 0){
//                       $(".reproduct-music").html("<b>Sin canciones aun!</b>");
                   }else{
                       /* Playlist vacio */
                       if (songs.length == 0){
                           console.log("Playlist empty!");
                           var firstSongUrl = data[0].url;
                           iframe.src = iframeSrcPrefix + firstSongUrl + iframeOPtions;
                           currentSongIndex = 0;

                           Widget = SC.Widget(iframe);
                           Widget.bind(SC.Widget.Events.FINISH, widgetFinishEventListener);                 
                       }
                       
                       songs = data;
                       $(".cont-songs").empty();

                       for (var i=0; i<data.length; i++){
                           var playingClass = (i == currentSongIndex)? "song-playing": "";

                           $(".cont-songs").append(''+
                                '<md-list-item class="md-3-line" >'+
                                    '<div class="md-list-item-text">'+
                                        '<h4 class="song '+playingClass+'" song-url="'+data[i].url+'" song-index="'+i+'" >'+data[i].title+'</h4>'+
                                    '</div>'+
                                '</md-list-item>');
                       }                   
                   }
               });
           }, 5000);
           
           
           /* Buscar cancion en soundcloud */
           $("#input-search-song").keypress(function(e) {
               if (e.which == 13) {
                   var query = $("#input-search-song").val();
                   $("#modal-search-song .modal-title").html(query);
                   
                   SC.get('/tracks', {q: query, limit: 10}, function(tracks) {
                       $("#modal-search-song .modal-body .list-group").empty();
                       for (var i=0; i<tracks.length; i++){
                           $("#modal-search-song .modal-body .list-group").append(''+
                                '<button type="button" song-url="'+tracks[i].permalink_url+'" class="list-group-item search-song" data-dismiss="modal">'+
                                    tracks[i].title+
                                '</button>');
                       }
                       $("#modal-search-song").modal("show");
                   });
               }
           });
           
           /* Agregar song al playlist del room */
           $(document).on('click', '.search-song',function (){
               var dataObj = {
                   room_id: roomId,
                   user_id: "{{user.id}}",
                   song_title: $(this).html(),
                   song_url: $(this).attr("song-url"),
                   csrfmiddlewaretoken: "{{csrf_token}}"
               };
                console.log(dataObj)
               $.ajax({
                   method: "POST",
                   url: "/api/song/add/",
                   data: dataObj
               }).done(function(data) {
                   console.log(data);
               });
           });           
      </script>

      <!--<script src="http://localhost:3000/socket.io/socket.io.js"></script>

      <script type="text/javascript">
      $(document).ready(function () {
      var socket = io.connect('http://localhost:3000');
      socket.emit('adduser', "{{user.username}}", "{{room.id}}");

      socket.on('updateusers', function(roomid, users) {
          console.log(roomid);
          console.log(users);
        });
      });
       </script>
       -->
   </body>

</html>
