{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="sharehits">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'public/lib/components-font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/lib/angular-material/angular-material.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/css/main.min.css' %}">

      <title>ShareHits</title>
   </head>
   <body ng-controller="mainController">

      	{% block content %}
         {% endblock %}



      <!-- LIBS -->
      <script src="{% static 'public/lib/angular/angular.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-animate/angular-animate.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-aria/angular-aria.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-material/angular-material.min.js' %}"></script>
      <!-- App -->
      <script src="{% static 'public/js/common/models/user.js' %}"></script>
      <script src="{% static 'public/js/common/models/sala.js' %}"></script>
      <script src="{% static 'public/js/components/sala/sala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/dashboard.js' %}"></script>
      <script src="{% static 'public/js/sharehits.js' %}"></script>
   </body>

</html>
