{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <md-button class="md-raised md-warn btn-create-room" data-toggle="modal" data-target="#myModal">Crear sala</md-button>
   <!-- <md-button ng-click='logOut()' >crear sala</md-button> -->
    <md-tabs md-dynamic-height md-border-bottom class="contenedor-tabs">
      <md-tab label="Salas publicas">
        <md-content class="md-padding">

            <md-input-container flex class="cont-input-search">
              <label>Nombre de sala o genero</label>
              <input ng-model="nameRoom">
            </md-input-container>

           <!--<div layout="row" layout-align="center center">-->
             <md-list class="list-salas">
                <md-list-item ng-repeat="sala in salas" class="item-sala md-raised" ng-style="{'background-image':'url('+sala.image+')'}">
                   <md-button  ui-sref="sala({salaId:sala.id})" class="md-list-item-text md-button md-default-theme">
                       <div class="cont-text-sala">
                        <h2>[[ sala.name ]]</h2>

                        <div class="cont-tags-rooms">
                           <md-button ng-repeat="t in sala.tag" class="md-raised">[[ t.name ]]</md-button>
                        </div>
                       </div>
                   </md-button>
                   <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
             </md-list>

           <!--</div>-->
        </md-content>
      </md-tab>

      <md-tab label="Mis salas">
        <md-content class="md-padding">
          <p >Mis salas</p>
          <button > wat</button>
        </md-content>
      </md-tab>

    </md-tabs>

<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content offset1">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Crear Sala</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
   <form name="salaForm" style="padding: 10px">
     <md-dialog-content>
         <md-input-container>
            <label>Nombre de la sala</label>
            <input
            ng-model="sala.nombre"
            name="nombre"
            type="text"
            md-maxlength=20
            min-length=5
            required>
         </md-input-container>

         <md-progress-circular
            ng-show="spinner"
            class="md-accent"
            md-mode="indeterminate">
         </md-progress-circular>

         <md-input-container>
            <label>Url de imagen</label>
            <input
            ng-model="sala.img"
            name="img"
            type="url"
            ng-change="verifyImg(sala.img)"
            required>
         </md-input-container>
         <div ng-messages="salaForm.img.$error">
             <div ng-message="imgValid">Debe ingresar una url de imagen valida</div>
         </div>
         <md-input-container>
            <label>Tags</label>
            <input
               type="text"
               name="tag"
               ng-model="tag"
               minlength="3"
               maxlength="10">

         </md-input-container>

         <md-button ng-click="agregarTag(tag)" class="md-primary">
            agregar
         </md-button>
         <div ng-messages="salaForm.tag.$error">
             <div ng-message="tagSize">Debe ingresar al menos un tag</div>
         </div>
         <div ng-repeat="tag in sala.tags track by $index">
            <p>{{tag}}</p>
         </div>
      </md-dialog-content>

      <div class="md-actions" layout="row">
          <span flex></span>
          <md-button ng-click="aceptar(sala)" ng-disabled="salaForm.$invalid" class="md-primary">
           Aceptar
          </md-button>
          <md-button ng-click="cancel()" class="md-primary">
            Cancelar
          </md-button>
      </div>
   </form>
   </div>
   </div>
</div>

  
{% endblock %}
