{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <md-button class="md-raised md-warn btn-create-room" data-toggle="modal" data-target="#myModal">Crear sala</md-button>
   <!-- <md-button ng-click='logOut()' >crear sala</md-button> -->
    <md-tabs md-dynamic-height md-border-bottom class="contenedor-tabs">
      <md-tab label="Salas publicas">
        <md-content class="md-padding">

            <md-input-container flex class="cont-input-search">
              <label>Nombre de sala o genero</label>
              <input ng-model="nameRoom">
            </md-input-container>

           <!--<div layout="row" layout-align="center center">-->
             <md-list class="list-salas">
                <md-list-item ng-repeat="sala in salas" class="item-sala md-raised" ng-style="{'background-image':'url('+sala.image+')'}">
                   <a  href="[[ sala.url ]]" class="md-list-item-text md-button md-default-theme" >
                      <input type="hidden" value="[[sala.id]]"/>
                       <div class="cont-text-sala">
                       
                        <h2>[[ sala.name ]]</h2>

                        <div class="cont-tags-rooms">
                           <md-button ng-repeat="t in sala.tag" class="md-raised">[[ t.name ]]</md-button>
                        </div>
                       </div>
                   </a>
                   <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
             </md-list>

           <!--</div>-->
        </md-content>
      </md-tab>

      <!--Mis salas-->
      <md-tab label="Mis salas">
        <md-content class="md-padding">

            <md-input-container flex class="cont-input-search">
              <label>Nombre de sala o genero</label>
              <input ng-model="nameRoom">
            </md-input-container>

           <!--<div layout="row" layout-align="center center">-->
             <md-list class="list-salas">
                <md-list-item ng-repeat="sala in mis_salas" class="item-sala md-raised" ng-style="{'background-image':'url('+sala.image+')'}">
                   <md-button  href="[[ sala.url ]]" class="md-list-item-text md-button md-default-theme">
                       <div class="cont-text-sala">
                        <h2><a href="[[ sala.url ]]">[[ sala.name ]]</a></h2>
                        <button class="md-raised md-button md-default-theme" ng-transclude=""><span class="ng-scope">[[ sala.mode ]]</span><div class="md-ripple-container"></div></button>

                        <div class="cont-tags-rooms">
                           <md-button ng-repeat="t in sala.tag" class="md-raised">[[ t.name ]]</md-button>
                        </div>
                       </div>
                   </md-button>
                   <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
             </md-list>

           <!--</div>-->
        </md-content>
      </md-tab>

    </md-tabs>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Crear Sala</h4>
      </div>

      <div class="modal-body">
        <form data-toggle="validator">
          <div class="form-group">
            <input type="text" class="form-control" id="room-name" placeholder="Nombre de sala" required>
          </div>
          <div class="form-group has-feedback">
            <input type="url" class="form-control" id="room-url" placeholder="Url imagen" required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="form-group ui-widget">
            <!--<input type="text" class="form-control" id="recipient-name" placeholder="Agregar etiquetas">-->
            <input id="tags" class="form-control" placeholder="Agregar etiquetas" required>
          </div>
          <select class="form-control" id="room-mode">
            <option value="Public">Public</option>
            <option value="Private">Private</option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="add_room()">Add Room</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content offset1">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Crear Sala</h2>
      <span flex></span>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </md-toolbar>
   <form name="salaForm" style="padding: 10px">
     <md-dialog-content>
         <md-input-container>
            <label>Nombre de la sala</label>
            <input
            ng-model="sala.nombre"
            name="nombre"
            type="text"
            md-maxlength=20
            min-length=5
            required>
         </md-input-container>

         <md-progress-circular
            ng-show="spinner"
            class="md-accent"
            md-mode="indeterminate">
         </md-progress-circular>

         <md-input-container>
            <label>Url de imagen</label>
            <input
            ng-model="sala.img"
            name="img"
            type="url"
            ng-change="verifyImg(sala.img)"
            required>
         </md-input-container>
         <div ng-messages="salaForm.img.$error">
             <div ng-message="imgValid">Debe ingresar una url de imagen valida</div>
         </div>
         <md-input-container>
            <label>Tags</label>
            <input
               type="text"
               name="tag"
               ng-model="tag"
               minlength="3"
               maxlength="10">

         </md-input-container>

         <md-button ng-click="agregarTag(tag)" class="md-primary">
            agregar
         </md-button>
         <div ng-messages="salaForm.tag.$error">
             <div ng-message="tagSize">Debe ingresar al menos un tag</div>
         </div>
         <div ng-repeat="tag in sala.tags track by $index">
            <p>{{tag}}</p>
         </div>
      </md-dialog-content>

      <div class="md-actions" layout="row">
          <span flex></span>
          <md-button ng-click="aceptar(sala)" ng-disabled="salaForm.$invalid" class="md-primary">
           Aceptar
          </md-button>
          <md-button ng-click="cancel()" class="md-primary">
            Cancelar
          </md-button>
      </div>
   </form>
   </div>
   </div>
</div>-->

  
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
  $(function() {
          
          var availableTags = {{tags|safe|escape}};
          function split( val ) {
            return val.split( /,\s*/ );
          }
          function extractLast( term ) {
            return split( term ).pop();
          }
       
          $( "#tags" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
              if ( event.keyCode === $.ui.keyCode.TAB &&
                  $( this ).autocomplete( "instance" ).menu.active ) {
                event.preventDefault();
              }
            })
            .autocomplete({
              minLength: 0,
              source: function( request, response ) {
                // delegate back to autocomplete, but extract the last term
                response( $.ui.autocomplete.filter(
                  availableTags, extractLast( request.term ) ) );
              },
              focus: function() {
                // prevent value inserted on focus
                return false;
              },
              select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
              }
            });
          $("#tags").attr('autocomplete', 'on');
        });
</script>

<script type="text/javascript">
        
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        function add_room() {
            var csrftoken = getCookie('csrftoken');
            var data = {
                name: $("#room-name").val(),
                image: $("#room-url").val(),
                tags: $("#tags").val(),
                mode: $( "#room-mode" ).val(),
                csrfmiddlewaretoken: csrftoken,
                creator: "{{user.username}}"
            };
            if (data.name != "" && data.url != "" && data.url !="" != data.mode !="") {
              console.log(data);
                $.ajax({
                    url: "{% url 'api-room-create' %}",
                    type: "POST",
                    dataType: "json",
                    enctype: "multipart/form-data",
                    data: data,

                    success: function (data) {
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        
                    }
                });
            }else{
                alert("ingrese todos los datos");
            }
        }
    </script>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      
      
      $(document).ready(function () {
          var socket = io.connect('http://localhost:3000');

          $("#add_user").submit(function( event ) {
            
           var u=$("#username").val();
            console.log(u);
            socket.emit('adduser', {
              data:{
                username:"{{user.username}}",
                room: $("#room-name").val();
              }
            }); 
            event.preventDefault();
          });
          
      });

    </script>
{% endblock %}

