{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div ng-app='sharehits'>
	<div layout="column" class="header-login">
		<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>
		          <span>Sharehits</span>
		        </h2>
					<span flex></span>
					<div class="nav">
						<ul>
							<li>
							{% if user.is_authenticated %}
								<p class="name-user">{{ user.first_name }}</p>
								<img src="{{user.profile.photo}}" class="dashboard-image">
							{% endif %}

							<md-menu  md-offset="0 30">
								<md-button aria-label="Settings" ng-click="$mdOpenMenu()">
									<md-icon  md-menu-origin md-font-icon="fa fa-cog"></md-icon>
								</md-button>
								<md-menu-content width="3">
										<md-menu-item>
											<md-button href="{% url 'auth_logout' %}">
												 <md-icon md-menu-align-target md-font-icon="fa fa-power-off">
													Logout
												</md-icon>
											</md-button>
										</md-menu-item>
								</md-menu-content>
							</md-menu>
							</li>

						</ul>
					</div>
				</div>
        </md-toolbar>
	</div>

	<div ui-view>
	</div>
</div>
{% endblock %}
