{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="sharehits">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'public/lib/components-font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/lib/angular-material/angular-material.min.css' %}">
      <link rel="stylesheet" href="{% static 'public/css/main.min.css' %}">

      <script src="{% static 'public/lib/angular/angular.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-messages/angular-messages.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-animate/angular-animate.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-aria/angular-aria.min.js' %}"></script>
      <script src="{% static 'public/lib/angular-material/angular-material.min.js' %}"></script>

      <script src="{% static 'public/js/common/services/util.js' %}"></script>
      <script src="{% static 'public/js/common/services/user.js' %}"></script>
      <script src="{% static 'public/js/common/services/sala.js' %}"></script>
      <script src="{% static 'public/js/components/sala/sala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/crearsala/crearsala.js' %}"></script>
      <script src="{% static 'public/js/components/dashboard/dashboard.js' %}"></script>
      <script src="{% static 'public/js/sharehits.js' %}"></script>
      <script src="{% static 'public/lib/jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/external/jquery/jquery.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
      <script src="{% static 'public/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-validator/validator.min.js' %}"></script>

      <script src="{% static 'public/js/sharehits.js' %}"></script>

      <title>ShareHits</title>
   </head>
   <body ng-controller="mainController">
        <div layout="column " class="contenedor-login" layout-align="center center">
            <div class="background-images bimg1" ng-class="{opacityLogin:imgs[0]}"></div>
            <div class="background-images bimg2" ng-class="{opacityLogin:imgs[1]}"></div>
            <div class="background-images bimg3" ng-class="{opacityLogin:imgs[2]}"></div>
            <div class="box-login">
                <h1>Sharehits! Playlist Colectivo</h1>
                <div layout=column layout-align="space-around center">
                    <img src="{% static 'public/img/facebook-person.jpg' %}"/>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn-facebook">
                        <!--<md-button class="md-raised">
                            Join with facebook
                        </md-button>-->
                        <md-button class="md-raised md-primary btn-login">Join with facebook</md-button>
                    </a>
                    <!--<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>-->
                </div>
            </div>
        </div>

      <!-- App -->
   </body>

