
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div layout="column" layout-align="center center">
	<h1>Sharehits! Playlist Colectivo</h1>
	<div layout=column layout-align="space-around center">
		<img src="{% static 'public/img/facebook-person.jpg' %}"/>
		<a href="{% url 'social:begin' 'facebook' %}" class="btn-facebook">
			<md-button class="md-raised">
				Join with facebook
			</md-button>
		</a>
		 <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>

{% endblock %}
